body {
    background-color: #0d0d0d;
    color: #f00;
    font-family: monospace;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
}

h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 0 5px #f00;
}

input[type="checkbox"] {
    transform: scale(1.3);
    accent-color: #f00;
}

.input {
    padding: 8px;
    font-size: 16px;
    background-color: #222;
    width: 380px;
    color: #fff;
    border: 2px solid #f00;
    border-radius: 6px;
}

button {
    font-size: 16px;
    padding: 8px 14px;
    background: #f00;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    background: #d00;
}

.controlBtn {
    font-size: 14px;
    padding: 6px 12px;
    background-color: #c00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#blockedSitesMsg, #siteErrMsg, #appErrMsg, #blockedAppsMsg, #resetErrMsg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #330000;
    color: #ff4d4d;
    border: 2px solid #ff0000;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px #ff0000aa;
}

#blockedSitesMsg p {
    margin-bottom: 10px;
}

#switch-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #220000;
    color: #ff4d4d;
    border: 2px solid #ff0000;
    border-radius: 8px;
    box-shadow: 0 0 10px #ff0000aa;
    cursor: pointer;
    width: 22%;
    margin-left: auto;
}

#switch-button:hover {
    background-color: #330000;
    box-shadow: 0 0 15px #ff0000aa;
}

#switch-button.active {
    background-color: #ff0000;
    color: #000;
    border-color: #ff4d4d;
    box-shadow: 0 0 20px #ff0000cc;
}